@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/Avenir-Light.eot');
    src: url('../fonts/Avenir-Light.woff2') format('woff2'), url('../fonts/Avenir-Light.woff') format('woff'), url('../fonts/Avenir-Light.ttf') format('truetype'), url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg'), url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.eot');
    src: url('../fonts/Avenir-Medium.woff2') format('woff2'), url('../fonts/Avenir-Medium.woff') format('woff'), url('../fonts/Avenir-Medium.ttf') format('truetype'), url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg'), url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

a:focus,
a:hover,
button:focus,
img:focus,
input:focus {
    outline: none!important;
}

body,
p {
    font-family: 'Avenir-Medium';
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #303030;
}

.right_side_links ul {
    text-align: right;
    margin: 0;
}

.right_side_links li {
    list-style-type: none!important;
    display: inline-block;
}

.main-navigation a,
.right_side_links a {
    font-family: 'Avenir-Medium';
    font-size: 11px;
    font-weight: normal;
    line-height: 2.73;
    letter-spacing: 2.2px;
    color: #050505;
    margin: 1em 1.25em;
    display: block;
}

.page-shop .woocommerce-result-count,
body.woocommerce.page-shop .entry-header,
.single-product .entry-header {
    display: none;
}

body.woocommerce div#primary .entry-content {
    width: 100%!important;
    float: left!important;
}

body.woocommerce div#secondary {
    display: none;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    width: 48% !important;
    padding: 0 1%;
    margin: 0 auto;
}

.products li:nth-child(3n) {
    margin-right: 0 !important;
}

.woocommerce-loop-product__title,
.woocommerce-Price-amount amount {
    font-family: 'Avenir-Medium';
    font-size: 12px!important;
    font-weight: 500!important;
    line-height: 1.7;
    letter-spacing: 2.4px;
    text-align: center;
    color: #000000;
}

.price,
.woocommerce ul.products li.product .price {
    text-align: center;
    color: #000000!important;
    font-size: 12px!important;
}

select,
.select2-selection__rendered {
    height: 2em!important;
    border: none!important;
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    font-family: 'Avenir-Medium'!important;
    font-size: 14px!important;
    line-height: 1.36;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000000!important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #000000!important;
    border-radius: 0!important;
    -moz-border-radius: 0!important;
    -webkit-border-radius: 0!important;
}

.select2-container .select2-selection--single {
    height: 45px!important;
}

.woocommerce-ordering {
    /*float:left!important;*/
    float: right;
    margin: 0 0 30px!important;
}

#top-menu {
    text-align: center;
}

.main-navigation a:hover,
.navigation-top .current-menu-item > a,
.navigation-top .current_page_item > a {
    color: #000000;
}

.menu-main-menu-container {
    margin-right: -15px;
    margin-left: -15px;
}


/*.site_header_wrapper{
	padding:0 25px;
}*/

.menu-item .icon-angle-down {
    display: none!important;
}

select.orderby {
    line-height: 2.5!important;
    position: relative;
    top: -4px;
    letter-spacing: 2px;
    color: black;
    font-size: 12px !important;


}
select.orderby::-ms-expand {
    display: none;
}
select.orderby:after{
    content: ">>";

}

#colophon .menu-item {
    border: none;
    text-align: center;
}

#colophon .menu-item a {
    font-family: 'Avenir-Medium'!important;
    font-size: 11px;
    font-weight: 500;
    line-height: 2.73;
    letter-spacing: 2.2px;
    text-align: center;
    color: #050505;
    text-transform: uppercase;
}

h4 {
    font-size: 14px;
    font-family: 'Avenir-Medium';
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}

h5 {
    font-size: 11px;
    font-family: 'Avenir-Medium';
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}

.social-links-menu i {
    font-size: 0;
}

.social-navigation li {
    margin: 0 10px;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border: none!important;
}

#account_page .woocommerce-form {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    padding: 45px 0 120px;
}

#account_page .woocommerce-form input,
.woocommerce-address-fields input,
.edit-account input,
#commentform input,
textarea {
    border: none!important;
    border-bottom: 1px solid #000000!important;
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    padding: 10px 18px 5px;
    padding-left: 0!important;
    letter-spacing: 1.8px;
    margin-bottom: 13px;
    font-size: 14px!important;
    font-family: 'Avenir-Medium';
    color: #000!important;
    padding-bottom: 0!important;
}

textarea {
    height: 100px;
    resize: none;
}

#account_page .woocommerce #respond input#submit,
#account_page .woocommerce a.button,
#account_page .woocommerce button.button,
#account_page .woocommerce input.button,
.woocommerce div.product form.cart .button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce div.product-type form.cart .button {
    width: 100%;
    height: 52px;
    line-height: 30px;
    font-size: 14px!important;
    margin-top: 15px;
    margin-bottom: 15px;
    background: transparent;
    border: 1px solid #000000!important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    letter-spacing: 1.8px;
    font-size: 14px;
    font-family: 'Avenir-Medium';
    font-weight: normal;
    text-transform: uppercase;
    color: #000000!important;
}

#account_page .woocommerce-form button:hover,
.woocommerce div.product form.cart .button:hover,
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce div.product-type form.cart .button:hover {
    background: #000000!important;
    color: #ffffff!important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000;
    opacity: 1;
    font-size: 12px;
    font-family: 'Avenir-Medium'!important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
    opacity: 1;
    font-size: 12px;
    font-family: 'Avenir-Medium'!important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
    opacity: 1;
    font-size: 12px;
    font-family: 'Avenir-Medium'!important;
}

:-moz-placeholder,
:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
    opacity: 1;
    font-size: 12px;
    font-family: 'Avenir-Medium'!important;
}

.woocommerce-LostPassword {
    text-align: center;
    letter-spacing: 1px;
    font-size: 13px;
    margin: 15px 0 0 0;
}

.woocommerce form .form-row {
    width: 100%!important;
}

.woocommerce form .form-row label.inline {
    font-size: 13px;
    letter-spacing: 1px;
}

.woocommerce-LostPassword a:hover {
    text-decoration: underline;
}

.woocommerce-error {
    width: 500px!important;
    margin: 0 auto 5em auto!important;
    border: 1px solid #da464d!important;
    font-size: 14px!important;
    letter-spacing: 0.5px!important;
    background: transparent!important;
}

.woocommerce-message,
.woocommerce-Message {
    width: 500px!important;
    margin: 0 auto 3.5em auto!important;
    border: 1px solid #000000!important;
    color: #000000!important;
    font-size: 14px!important;
    letter-spacing: 0.5px!important;
    background: transparent!important;
}

.pwd_lost_notification {
    width: 500px!important;
    font-size: 14px!important;
    letter-spacing: 0.5px!important;
    margin: 0 auto 3.5em auto!important;
    text-align: center;
}

.woocommerce-error strong {
    font-weight: normal;
}

.woocommerce-MyAccount-navigation li {
    list-style-type: none;
    padding: 6px 0 15px 0;
    border-bottom: 1px solid #dadada;
    margin: 10px 0;
}

.woocommerce-MyAccount-navigation {
    font-size: 14px;
    font-family: 'Avenir-Medium';
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    max-width: 250px;
}

.woocommerce-MyAccount-navigation li a {
    color: #b3b3b3;
}

.woocommerce-MyAccount-navigation-link.is-active a {
    color: #000000;
}

.woocommerce-privacy-policy-link,
.woocommerce-error a {
    text-decoration: underline;
}

.woocommerce-privacy-policy-link:hover,
.woocommerce-error a:hover {
    text-decoration: none;
}

#customer_login {
    padding-top: 45px;
}

form.edit-account,
.woocommerce-MyAccount-content form {
    max-width: 380px;
}

fieldset legend {
    padding-top: 45px;
    border-bottom: navajowhite;
    margin-bottom: 0;
}

.xoo-qv-opac {
    background: white!important;
    cursor: pointer;
}

.xoo-qv-container {
    border: 1px solid #a5a5a5;
    left: 9%!important;
    right: 9%!important;
    /*width: 1100px!important;*/
    height: 82%;
}

.xoo-qv-summary .product_title,
.xoo-qv-summary .price span {
    font-size: 16px!important;
    font-weight: 500!important;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: center;
    color: #000000;
    display: inline-block;
}

.xoo-qv-summary {
    text-align: center;
}

.woocommerce div.product p.price,
.woocommerce div.product-type p.price {
    /*padding-left: 10px;*/
    margin: 0;
}


/*.woocommerce div.product p.price:before{
	content:"--";
	padding-right: 10px;
    letter-spacing: -1px;
}*/

.xoo-qv-main {
    width: 80%;
    margin: 0 auto;
}

.xoo-qv-summary .woocommerce-product-details__short-description {
    display: none;
}

.button.add_to_cart_button {
    display: none!important;
}

.xoo-qv-summary {
    margin: 0 auto;
}

.xoo-qv-plink {
    background: transparent!important;
    padding: 0!important;
}

.xoo-qv-plink a {
    color: #000000!important;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Avenir-Medium';
    text-decoration: underline;
}

.xoo-qv-plink a:hover {
    text-decoration: none;
}

.xoo-qv-summary .product_meta {
    display: none;
}

.xoo-qv-main .product{
    display: table;
    width: 100%;
    height: 100%;
}
.xoo-qv-images,
.xoo-qv-summary{
    display: table-cell !important;
    width: 50% !important;
    vertical-align: middle;
    float: none !important;
}

.xoo-qv-main .product .quick_inner_info{
    display: block;
    max-width: 80%;
    margin: 0 auto;
    height: auto;
}

.woocommerce .xoo-qv-main .woocommerce-product-rating{
    display: none !important;
}


a.xoo-qv-button {
    top: 75%!important;
    /*visibility: visible!important;*/
}

a.xoo-qv-button {
    padding: 18px 8px!important;
    box-shadow: none!important;
    width: 80%;
    height: 55px!important;
    background-color: rgba(255, 255, 255, 0.65)!important;
    border: solid 1px #000000!important;
    font-family: 'Avenir-Medium';
    font-size: 12px!important;
    font-weight: 500;
    font-style: normal;
    line-height: 2!important;
    letter-spacing: 2px;
    text-align: center;
    color: #000000;
    text-transform: uppercase!important;
    display: inline-block;
}

.xoo-qv-btn-icon {
    display: none!important;
}

.woocommerce nav.woocommerce-pagination ul {
    border: none!important;
}

.woocommerce nav.woocommerce-pagination ul li {
    border: none!important;
    margin: 0 4px!important;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.prev.page-numbers,
.next.page-numbers {
    background: transparent!important;
    color: #000000!important;
    border-bottom: none;
}

.woocommerce nav.woocommerce-pagination ul li a {
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    font-size: 12px!important;
}

.xoo-qv-cls {
    font-size: 36px;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
    z-index: -1;
}



.quick_inner_info {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.page-numbers {
    border-bottom: 1px solid transparent;
    padding: 0!important;
}

.page-numbers.current {
    border-bottom: 1px solid #000!important;
    font-size: 12px!important;
}

.woocommerce-pagination {
    margin: 35px 0 0 0;
}

.qty_box_wrapper {
    clear: both;
    margin: 30px 0 10px 0;
    text-align: center;
}

.qty_numbers {
    border: 1px solid #000;
    text-align: center;
    width: 55px;
    padding: 0;
    float: left;
    position: absolute;
    background: white;
    right: 0;
    z-index: 9999;
}

.qty_numbers li {
    padding: 0;
    list-style-type: none;
}

.qty_numbers a {
    color: #000000;
    padding: 10px 0;
    width: 100%;
    display: inline-block;
}

.qty_numbers a:hover {
    background: #E4E4E4;
}

.qty_box_wrapper label {
    position: relative;
}

.qty_box_wrapper label span {
    padding-left: 10px;
    cursor: pointer;
    background-position: right center;
    background-image: url(//cdn.shopify.com/s/files/1/0026/0633/4070/t/1/assets/ico-select.svg?4664697469333959933);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 25px;
}

.xoo-qv-summary form.cart div.quantity,
.single-product .quantity {
    left: -9999px;
    position: absolute;
}


/*single*/

.single-product #secondary {
    display: none;
}

.single-product #primary {
    width: 100%!important;
}

.single-product #primary #main {
    /*width: 860px;*/
    margin: 0 auto;
}


/*.single-product #primary div.images{
    width: 50%!important;
}*/

.single-product .product_meta {
    display: none;
}

.related.products h4 {
    text-align: center;
    margin-bottom: 45px;
}

.single-product ul.products li.first,
.single-product ul.products li.first {
    clear: none!important;
}

.single-product .post-navigation {
    display: none;
}

.SingleTitle,
.SinglePrice span {
    /*font-family: 'Avenir-Light';*/
    font-weight: 300;
    font-size: 14px !important;
    line-height: 1.5;
    letter-spacing: 3px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.related.products {
    padding-bottom: 25px;
}

.related.products ul {
    max-width: 1100px;
    margin: 0 auto!important;
}

.dash {
    letter-spacing: -2px;
}

.woocommerce-product-gallery {
    display: none;
}

.qty_numbers a {
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
}

.qty_numbers a:hover,
.button.wc-forward:hover {
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    border-bottom: none!important;
}

.button.wc-forward {
    background: transparent!important;
    border-radius: 0!important;
    color: black!important;
    padding: 0!important;
    font-weight: normal!important;
    text-decoration: underline!important;
    margin: 5px 0!important;
}

.quick_inner_info .accordion_in {
    display: none;
}

.SearchWrapper {
    position: fixed;
    padding: 30px 0;
    top: 83px;
    left: 0;
    width: 100%;
    z-index: 99999;
    background: white;
    padding-bottom: 45px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.SearchWrapper .page-width {
    max-width: 94%;
    margin: 0 auto;
}

.search-bar__form {
    position: relative;
    display: table;
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    position: relative;
    border: 1px solid transparent;
}

.btn_submit {
    background: url(../images/search_icon.png) right top no-repeat!important;
    padding: 0!important;
    position: absolute;
    top: 6px;
    right: 3px;
    font-size: 0!important;
    width: 25px!important;
    height: 21px!important;
    background-size: 25px auto!important;
}

.SearchClose {
    position: absolute;
    top: -21px;
    right: -25px;
    cursor: pointer;
    cursor: pointer;
    font-size: 18px;
}

.search-field {
    height: auto;
    min-height: inherit;
    padding-left: 0!important;
    background: none;
    border: none!important;
    border-bottom: 1px solid #000000!important;
    border-radius: 0px!important;
    height: auto;
    line-height: normal;
    font-size: 12px!important;
    color: #000;
    width: 100%;
    font-weight: 500;
    font-family: 'Avenir-Medium'!important;
    letter-spacing: 2px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset;
    -webkit-text-fill-color: #000000!important;
}

.single_add_to_cart_button {
    margin-bottom: 0;
}

.item {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}


/*swatches*/

.woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-squared .variable-items-wrapper .variable-item {
    border: 1px solid #000000!important;
    border-radius: 0!important;
    -moz-border-radius: 0!important;
    -webkit-border-radius: 0!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    margin: 0 22px 22px 0!important;
}

.woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-squared .variable-items-wrapper .variable-item:last-child {
    margin-right: 0!important;
}

.button-variable-item span {
    font-size: 13px!important;
    font-family: 'Avenir-Medium'!important;
    line-height: 36px;
}

ul[data-attribute_name="attribute_pa_size"] .variable-item:hover,
ul[data-attribute_name="attribute_pa_size"] .variable-item.selected {
    background: black!important;
    color: white!important;
}

.woo-variation-swatches-style-squared .button-variable-item {
    min-width: 40px!important;
    min-height: 40px!important;
}

.woocommerce div.product form.cart .variations td.label,
.woocommerce div.type-product form.cart .variations td.label {
    display: none!important;
}

.variations tr {
    border: none!important;
}

.woocommerce div.product form.cart .reset_variations,
.woocommerce div.type-product form.cart .reset_variations {
    font-size: 1em!important;
    float: right!important;
    margin-top: 5px;
    box-shadow: none;
}

.variant_label {
    text-align: center;
    font-size: 13px;
    padding-bottom: 15px;
}

.variable-items-wrapper {
    margin-bottom: 25px!important;
    display: block!important;
    text-align: center;
}

.variable-items-wrapper li.selected {
    transform: scale(0.9);
}

.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item).color-variable-item .variable-item-span-color {
    display: inline-block!important;
}

.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item) {
    display: inline-block!important;
}

ul[data-attribute_name="attribute_pa_size"] {
    margin-bottom: 0!important;
}

.xoo-qv-prev,
.xoo-qv-nxt {
    display: none!important;
}

#reply-title {
    font-size: 16px;
    font-family: 'Avenir-Medium';
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 25px!important;
}

.review_main_title {
    text-align: center;
    font-size: 12px;
}

.woocommerce #review_form #respond textarea {
    font-size: 14px;
    color: #000000;
    border: 1px solid #000000!important;
    padding: 10px!important;
}

#reviews label {
    color: #000000;
    display: none;
}

#reviews .comment-form-rating label {
    display: block!important;
}

.woocommerce #review_form #respond .form-submit input {
    width: 160px;
    float: right;
    padding: 10px 18px 5px!important;
}

#commentform {
    width: 100%;
    margin: 0 auto;
}

.woocommerce #reviews h3 {
    margin: 0;
    text-transform: capitalize;
    text-align: center;
}

.woocommerce #reviews #comment {
    height: 125px!important;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 12px!important;
    color: #000000!important;
}

.comment-text p.meta strong {
    font-weight: normal;
}

#reviews .description p {
    line-height: 2;
}

#reviews {
    padding-bottom: 55px;
}

.woocommerce #review_form #respond .comment-form-rating {
    margin: 20px 0 30px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    border: none !important;
    margin: 0 !important;
}

.comment-text time {
    clear: both;
    display: block;
}

.review_title {
    font-weight: normal!important;
    font-family: 'Avenir-Medium'!important;
    font-size: 16px!important;
}

.reviews_bar,
#reviews_header {
    display: none;
}

#comments {
    padding-top: 0!important;
}

.woocommerce .star-rating {
    font-size: 1.3em!important;
    overflow: visible !important;
}

.ywar_review_count {
    color: #000000!important;
    font-size: 13px!important;
    margin-left: 15px!important;
}

.header_info {
    margin: 0 auto;
    padding-bottom: 10px;
}

.woocommerce .star-rating::before {
    color: #000000!important;
}

.woocommerce .summary .woocommerce-review-link {
    margin-left: 15px !important;
    line-height: 2.3;
    font-size: 12px;
    box-shadow: none;
}

#reviews_summary {
    clear: both;
}

#comments > h4 {
    display: none;
}

.single-product .wrap {
    max-width: 100%;
}

#reviews_summary,
#reviews {
    max-width: 340px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid;
}

#reviews_summary {
    border-bottom: none;
}

#reviews {
    border-top: none;
}

#reviews {
    margin-bottom: 10%;
}

.acc_content p {
    padding: 20px 0!important;
    text-align: center;
    margin: 0;
}

.xoo-qv-summary .woocommerce-product-rating {
    display: none!important;
}

.logged-in #account_page .woocommerce-message a.woocommerce-Button.button,
.logged-in #account_page .woocommerce-Message a.woocommerce-Button.button {
    width: auto!important;
    margin: 0!important;
    background: transparent;
    border: none!important;
    font-size: 12px!important;
    font-weight: normal;
    text-decoration: underline;
    padding: 5px 0!important;
    line-height: inherit!important;
    height: auto!important;
}

.woocommerce-info::before {
    color: #000000!important;
}

address {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px!important;
    border-radius: 0!important;
    height: 48px!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 43px!important;
}

.woocommerce-info {
    border-top-color: transparent!important;
    background: transparent!important;
    border: 1px solid black!important;
}

.woocommerce form .form-row label {
    margin-bottom: 0;
}

.woocommerce-input-wrapper {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

.u-column1.col-1.woocommerce-Address {
    padding-right: 45px;
}

.u-column2.col-2.woocommerce-Address {
    padding-left: 45px;
}

.u-columns.woocommerce-Addresses {
    padding-top: 25px;
}

.woocommerce-Address-title a {
    top: -28px;
    position: relative;
    color: #9e9e9e;
    text-decoration: underline;
}

.woocommerce-MyAccount-content a {
    text-decoration: underline;
}

.woocommerce-MyAccount-content a:hover {
    text-decoration: none;
}

h1 {
    /*font-family: 'Avenir-Light'!important;*/
    font-size: 16px!important;
    font-weight: 300;
    line-height: 2.73;
    letter-spacing: 2.2px;
    color: #050505;
    text-transform: uppercase;
}

.page-header {
    padding-bottom: 0;
}

.page-tops .entry-title,
.page-tops .woocommerce-result-count,
.page-bottoms .entry-title,
.page-bottoms .woocommerce-result-count .page-dresses .entry-title,
.page-dresses .woocommerce-result-count .page-rompers-jumpsuits .entry-title,
.page-rompers-jumpsuits .woocommerce-result-count {
    display: none;
}

.cart-contents span {
    position: absolute;
    top: 24px;
    background: black;
    width: 14px;
    height: 15px;
    color: white;
    line-height: 1.52;
    border-radius: 15px;
    text-align: center;
    right: 4px;
    padding-left: 3px;
    font-family: 'Avenir-Medium'!important;
}

.woocommerce table.shop_table {
    border: 1px solid rgba(0, 0, 0, 1)!important;
    border-radius: 0!important;
    margin: 0 auto 24px auto!important;
    width: 75%!important;
    font-size: 13px;
}

thead th {
    border-bottom: 1px solid #000000!important;
    font-weight: normal!important;
    text-transform: uppercase!important;
}

button[type="submit"] {
    border-radius: 0!important;
    font-weight: normal!important;
    text-transform: uppercase!important;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 100px!important;
    border-radius: 0!important;
}

.cart_totals table {
    width: 100%!important;
}

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
    width: 75%!important;
    margin: 0 auto!important;
}

.woocommerce .woocommerce-product-rating {
    display: table !important;
    margin: 0 auto;
}

.single_inner_info {
    max-width: 300px;
    margin: 0 auto;
    padding-top: 20px;
}

.woocommerce .star-rating {
    overflow: none;
}

@media(min-width: 768px) {
    .main-navigation a,
    .right_side_links a {
        text-transform: uppercase;
    }
    h1,
    p.SinglePrice {
        font-family: 'Avenir-Light'!important;
    }
    .single-product #primary #main div.type-product {
        width: 100%;
        max-width: 880px;
        margin: 0 auto 95px auto;
        display: table;
    }
    .single-product .summary.entry-summary {
        width: 44%!important;
        padding-top: 45px;
    }
    .product_imgs {
        width: 56%;
        float: left;
    }
    .product_imgs img {
        display: block;
        margin: 0 auto;
        margin-bottom: 45px;
        /*max-width: 450px !important;*/
    }
    .single_inner_info {
        max-width: 290px;
        width: 100%;
        /*float:right;*/
        margin-left: 92px;
    }
    .single_inner_info {
        max-width: auto;
    }
    .woocommerce .woocommerce-ordering,
    .woocommerce-page .woocommerce-ordering {
        float: left !important;
        padding-left: 1%;
    }
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        width: 33.33% !important;
        padding: 0 1% 5% !important;
        margin: 0 !important;
    }
    .SinglePrice.price {}
    .woocommerce .summary .woocommerce-product-rating {
        float: inherit!important;
        top: 0!important;
        padding-bottom: 10px;
    }
    .woocommerce div.product .product_title {
        margin-bottom: 0;
    }
    .header_info {
        clear: both;
        margin: 0;
    }
    .woocommerce .woocommerce-product-rating {
        float: right!important;
        top: 24px!important;
        position: relative!important;
    }
    .SingleTitle,
    .SinglePrice,
    .SinglePrice span {
        font-size: 24px !important;
    }
    .related.products {
        margin: 0 auto 75px auto;
        padding-bottom: 55px;
        border-bottom: 1px solid #000;
        width: 100%;
    }
    .woocommerce #reviews #comments ol.commentlist li .comment-text {
        border: 1px solid #000000!important;
        border-radius: 0!important;
        padding: 4em 1em!important;
        border-left: none!important;
        border-right: none!important;
        margin: 10px 0 0 0!important;
    }
    #reviews_summary,
    #reviews {
        max-width: 1100px;
        margin: 0 auto;
        border: none;
    }
    #reviews {
        padding-bottom: 45px;
    }
    .review_main_title {
        margin-bottom: 15px;
        font-size: 18px;
        font-family: 'Avenir-Light';
        text-align: left;
    }
    #commentform {
        width: 600px;
    }
    #comments > h4 {
        margin: 0;
        display: block;
        text-align: left;
    }
    .woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
        font-size: 12px!important;
        float: left;
        width: 20%;
        color: #000000!important;
    }
    #reviews .description {
        float: right;
        width: 65%;
    }
}