.smk_accordion{
	position: relative;
    margin: 0 auto 120px;
    letter-spacing: 1px;
    font-size: 12px;
	width:300px;
}
.smk_accordion .accordion_in{ 
	/*border: 1px solid #ccc;*/
	position: relative;
	z-index: 10;
	margin-top: -1px;
	overflow: hidden;
}

/* Head */
.smk_accordion .accordion_in .acc_head{
	position: relative;
	/*background: #FDFDFD;*/
	padding: 17px 0 10px;
	font-size: 12px;
    letter-spacing: 2px;
	display: block;
	cursor: pointer; 
}
.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head{
	border-radius: 0;
}
.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content{
	border-radius: 0;
}

/* Content */
.smk_accordion .accordion_in .acc_content{
	/*background: #F9F9F9;*/
	color: #000000;
	padding: 3px 10px;
}
.smk_accordion .accordion_in h1:first-of-type,
.smk_accordion .accordion_in h2:first-of-type,
.smk_accordion .accordion_in h3:first-of-type,
.smk_accordion .accordion_in h4:first-of-type,
.smk_accordion .accordion_in h5:first-of-type,
.smk_accordion .accordion_in h6:first-of-type{
	margin-top: 5px;
}


/* Icon expand */
.smk_accordion .accordion_in .acc_head .acc_icon_expand{
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9px;
	/*background: url(../images/plusminus.png) center 0;*/
}
.smk_accordion .accordion_in .acc_head .acc_icon_expand:after{
  content: "+";
  font-size: 17px;
  font-weight: normal;
}
.smk_accordion .accordion_in.acc_active .acc_head .acc_icon_expand:after{
  content: "---";
  font-size: 17px;
  font-weight: normal;
  letter-spacing: -1.8px;
}
.acc_content p{
  padding:30px 0!important;
  text-align:center;
  margin: 0;
}
.smk_accordion .accordion_in.acc_active .acc_head .acc_icon_expand{
	/*background: url(../images/plusminus.png) center -18px;*/
}
.acc_active .acc_content{
  border-bottom:none!important;
}
/* JS requires */
.smk_accordion .accordion_in.acc_active .acc_content{ 
	display: block;
}
.smk_accordion .accordion_in.acc_active .acc_head{
	/*background: #F9F9F9;*/
  	border-bottom: 1px solid #000000;
}
.smk_accordion.acc_with_icon .accordion_in .acc_head,
.smk_accordion.acc_with_icon .accordion_in .acc_content{
	padding-left: 0;
  	border-bottom: 1px solid #000000;
  	text-align: left;
}